.counter {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url("../assets/img/glass.svg");
    margin: 0 auto;
    margin-bottom: 48px;
    width: 280px;
    height: 280px;
    &__text {
      font-size: 100px;
      top: 200px;
      padding: 0;
      line-height: 131px;
    }
  }

  