.counter {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    margin-bottom: 48px;
    width: 280px;
    height: 280px;
    &__image {
      width: 280px;
      height: 280px;
      margin: 0 auto;
      z-index: 0;
    }
    &__text {
      font-size: 100px;
      position: absolute;
      top: 114px;
      margin: 0;
      padding: 0;
      line-height: 131px;
    }
  }

  