.hydrapp {
    width: 375px;
    font-family: 'Nunito', sans-serif;
  
    &__title {
      margin-bottom: 10px;
      margin-top: 0px;
      font-family: 'Nunito', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 55px;
      line-height: 75px;
    }
    &__subtitle {
      margin-bottom: 10px;
      margin-top: 0px;
      font-style: normal;
      font-weight: 200;
      font-size: 16px;
      line-height: 19px;
    }
  
  }