@import "~normalize.css";
@import "modules/hydrapp.scss";
@import "modules/button.scss";
@import "modules/counter.scss";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;600&display=swap' rel='stylesheet');


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  background: #2d4d79;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 100vh;
  text-align: center;
}




